body { 
	padding-top: 70px;
	font-size: 10px;
}


.fa-ship {
	font-size: 35px;
	color: blue;
	margin-top: 0px;
}

.contact-info-all {
	border: 2px solid black;
	padding: 0 0 5px 15px;
}

.contact-9 {
	text-align: left;
}

.user-default-image {
	width: 30px;
}

.form-group {
	margin-bottom: 0;
}

.form-control {
	height: 20px;
}

.navbar-right {
	margin-top: 5px;
}